html{
	overflow: hidden;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	zoom: 1;
}
:root {
	font-size: 1.0625em;
}
.green_bold {
	/* top: 216px; */
	left: 8%;
	top: 19.86%;
} 
.yellow_bold {
	top: 40.04%;
	left: 15.49%;
} 
.red_bold {
	top: 57.8%;
	left: 22.93%;
}  

.container {
	position: relative;
	border: 1px solid black;
	box-sizing: border-box;
	left: 49%; 
	top: 1em;
}
img{
	/* width: 100%;
	height: auto; */
	position: absolute;
}